<nav>
  <img class="logo" src="img/google.png" alt="Google logo">
  <form action="/results" method="POST">
    <input type="search" name="search" />
    <button type="submit">Search</button>
  </form>
</nav>

<div class="research">
  <small>{{results.length}} Results</small>
</div>
{{#each results as |result|}}
<div class="result">
  <small>{{result.url}}</small>
  <h2><a href="{{result.url}}">{{result.title}}</a></h2>
  <p>{{result.description}}</p>
  <ul>
    {{#each result.links as |link|}}
    <li><a href="{{link.url}}">{{link.title}}</a></li>
    {{/each}}
  </ul>
</div>
{{/each}}